/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #121212;
  color: #ffffff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #1e1e1e;
  position: sticky;
  top: 0;
  z-index: 999;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 9.5rem;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.95rem;
  padding: 25px;
  margin: 45px;
}

nav ul li a:hover {
  background-color: #ff005c;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}


/* Hero Section */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8rem;
  max-width: 90%;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero-text {
  max-width: 600px;
}

.subtitle {
  color: #bbbbbb;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #ff005c;
}

.bold {
  font-weight: bold;
}

.description {
  color: #bbbbbb;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* Social */
.social-icons p {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: #999;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  filter: brightness(0) invert(1);
}

/* Image */
.hero-img img {
  height: 500px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

    nav ul li a {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4rem;
  }

  h1 {
    font-size: 2rem;
  }

  .hero-img img {
    height: auto;
    width: 90%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  nav ul {
    gap: 0.5rem;
  }

   nav ul li a {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px;
  }

  .hero {
    padding-top: 3rem;
  }
}
